/* mapa variables del logo*/
/* Color fondo Header foter ( fondo_hf)*/
/*Color de Titulos y link*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.Container_Grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto; }

.nav, #header .header_nav, #Footer .footer_nav {
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: flex-end; }

#header {
  grid-area: header;
  background-color: #cfc6c6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; }
  #header .header_nav :hover {
    color: antiquewhite; }
  #header .header_nav a {
    text-decoration: none;
    color: #6767db;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; }
  #header .header_nav .enlace {
    padding-right: 1%; }
  #header .Logo {
    display: flex;
    align-items: center;
    width: 200px;
    height: 100px; }
    #header .Logo img {
      width: 100%; }

main {
  grid-area: main; }
  main h1 {
    color: #6767db;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: left;
    margin-left: 45px;
    margin-top: 20px; }
  main .text_index {
    margin-bottom: 25px;
    margin-left: 75px;
    margin-top: 10px;
    font-family: cursive;
    font-size: 1.5rem; }
  main .Contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2%;
    margin: 2%; }
    main .Contenedor .Contenedor_Dentro {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main .Contenedor .Contenedor_Dentro .Animado {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: transform 5s; }
        main .Contenedor .Contenedor_Dentro .Animado :hover {
          transform: scale(1.1); }
        main .Contenedor .Contenedor_Dentro .Animado .imagen {
          width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          box-shadow: 0px 0px 10px #000;
          border-radius: 10px;
          margin: 2%; }
      main .Contenedor .Contenedor_Dentro h3 {
        display: flex;
        justify-content: center;
        color: #6767db;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        text-align: center; }
      main .Contenedor .Contenedor_Dentro .texto {
        text-align: justify; }

.Contenedor_Nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 2%;
  margin: 2%; }
  .Contenedor_Nosotros .Contenedor_Dentro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .Contenedor_Nosotros .Contenedor_Dentro .img_nosotros {
      width: 70%;
      margin: 10px; }
  .Contenedor_Nosotros .Texto_Nosotros {
    margin-top: 25px;
    font-size: 1.2rem; }

#Footer {
  background-color: #cfc6c6;
  grid-area: footer;
  display: flex;
  flex-direction: row; }
  #Footer .footer_nav {
    font-size: 1rem;
    justify-content: center; }
    #Footer .footer_nav :hover {
      color: antiquewhite; }
    #Footer .footer_nav a {
      text-decoration: none;
      color: #6767db;
      font-family: 'Roboto', sans-serif;
      font-weight: bold; }
    #Footer .footer_nav .enlace {
      padding-right: 1%; }
  #Footer .Redes {
    margin-left: 15px;
    width: 2.5%;
    margin-top: 10px;
    margin-bottom: 10px; }

.Contenedor_Servicios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "Indicadores" "Seguimiento" "Procesos";
  grid-template-rows: auto; }
  .Contenedor_Servicios #Indicadores, .Contenedor_Servicios #Seguimiento, .Contenedor_Servicios #Procesos {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%; }
    .Contenedor_Servicios #Indicadores .img_service, .Contenedor_Servicios #Seguimiento .img_service, .Contenedor_Servicios #Procesos .img_service {
      margin-left: 15px;
      width: 20%; }
    .Contenedor_Servicios #Indicadores .text_service, .Contenedor_Servicios #Seguimiento .text_service, .Contenedor_Servicios #Procesos .text_service {
      margin-left: 25px;
      font-size: 1.2rem; }

.Contenedor_Contacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2%;
  margin: 2%; }

@media screen and (max-width: 700px) {
  #header {
    flex-direction: column; }
    #header .Logo {
      justify-content: center; }
    #header .header_nav {
      justify-content: center; }
  main .Contenedor {
    grid-template-columns: 1fr; }
  .Contenedor_Nosotros {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 500px) {
  #header {
    width: 100%;
    position: fixed; }
    #header .header_nav {
      font-size: 1.1rem; }
    #header .Logo img {
      width: 100%; }
  main h1 {
    margin: 150px auto 0px;
    font-size: 1.5rem; }
  main .text_index {
    text-align: left;
    margin-left: 15px; }
  main .Contenedor {
    grid-template-columns: 1fr; }
  #Footer {
    display: none; }
  .Contenedor_Servicios #Indicadores, .Contenedor_Servicios #Seguimiento, .Contenedor_Servicios #Procesos {
    flex-direction: column; }
    .Contenedor_Servicios #Indicadores .img_service, .Contenedor_Servicios #Seguimiento .img_service, .Contenedor_Servicios #Procesos .img_service {
      margin-left: 15px;
      width: 50%; }
    .Contenedor_Servicios #Indicadores .text_service, .Contenedor_Servicios #Seguimiento .text_service, .Contenedor_Servicios #Procesos .text_service {
      margin-left: 25px;
      font-size: 1rem; } }

@media screen and (max-width: 320px) {
  main h1 {
    margin: 150px auto 0px; }
  main .text_index {
    font-size: 1rem; }
  #header .header_nav {
    font-size: 0.8rem; } }
