*{margin: 0;padding: 0;box-sizing: border-box;}

.Container_Grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows:auto;
    
}

#header{
    grid-area: header;
    background-color:rgb(207, 198, 198);
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
}

.Logo{
    display: flex;
    align-items: center;
    width: 200px;
    height: 100px;
}

.Logo img{
    width: 100%;
}

.header_nav{
    width: 100%;
    display:flex;
    font-size: 1.5rem;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

a{
    text-decoration: none;
    color: rgb(103, 103, 219);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.enlace{
    padding-right: 1%;
}
.header_nav :hover{
    color: antiquewhite;
}
.footer_nav :hover{
    color: antiquewhite;
}

main{
    grid-area: main;

}

h1{ 
    
    color: rgb(103, 103, 219);
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: left;
    margin-left: 45px;
    margin-top: 20px; 
}
 h3{
    color: rgb(103, 103, 219);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
 }

.Contenedor{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: auto;
    gap: 2%;
    margin: 2%;

}

.Contenedor_Dentro{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}


.imagen{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #000;
    border-radius: 10px;
    margin: 2%;
}
.Animado{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: transform 5s;
}
.Animado :hover{
    transform: scale(1.1);
    
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
}


#Footer{
    background-color: rgb(207,198,198);
    grid-area: footer;
    display: flex;
    flex-direction: row;
}

.footer_nav{
    width: 100%;
    display:flex; 
    flex-direction: row;
    font-size: 1rem;
    justify-content:center;
    align-items: center;
    
}

.Redes{
    margin-left: 15px;
    width: 2.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.img_nosotros{
    width: 70%;
    margin: 10px;

}

.Contenedor_Nosotros{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows: auto;
    gap: 2%;
    margin: 2%;
}

.Texto_Nosotros{
    margin-top: 25px;
    
}

.Contenedor_Servicios{
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: auto;
    margin: 2%;

}
.Contenedor_Dentro_Servicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img_service{
    width: 50%;
}

.Contenedor_Novedades{
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: auto;
    gap: 2%;
    margin: 2%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin-bottom: 110px;
}
.Contenedor_Contacto{
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: auto;
    gap: 2%;
    margin: 2%;

}

@media screen and (max-width: 700px){
    #header{
        flex-direction: column;
    }
    .Logo{
        justify-content: center;
    }
    .header_nav{
        justify-content: center;
    }
    /*.Contenedor{
        grid-template-columns: 1fr;
        
    }*/
    .Contenedor_Nosotros{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:500px){
    #header{
        width: 100%;
        position: fixed
    }

    .header_nav{
        font-size: 1.1rem;
    }
    .Logo img{
        width: 100%;
    }
    h1{
        margin: 150px auto 0px;
        font-size: 1.5rem; 
    }
    .Contenedor{
        grid-template-columns: 1fr;
        
    }
    #Footer{
        display: none;
    } 
}

@media screen and (max-width:320px) {
    h1{
        margin: 150px auto 0px;
    }
    .header_nav{
        font-size: 0.8rem;
    }
}