
/* mapa variables del logo*/
$Logo:(
    display: flex,
    Ubicacion: center,
    ancho: 200px,
    alto: 100px    
);
/* Color fondo Header foter ( fondo_hf)*/
$fondo_hf: rgb(207, 198, 198);

/*Color de Titulos y link*/
$Letras: rgb(103, 103, 219);

